@model np_website.Models.GuildBank.BrowseModel
@{
    ViewBag.Title = "Browse";
}

@section banner {
    <div id="banner">

    </div>
}

    <script type="text/javascript" src="https://www.magelocdn.com/pack/eq/en/magelo-bar.js#1"></script>

<h2>Browse the guild bank</h2>

@using (Html.BeginRouteForm("PostBrowseGuildBank", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.Search, new { @class = "form-control" })
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <br />
}

@if (Model.Items != null && Model.Items.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">ID</th>
                <th scope="col">Banker</th>
                <th scope="col">Location</th>
                <th scope="col">Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
            <tr>
                <td scope="row"><a href="https://eq.magelo.com/item/@item.ItemId" target="_blank">@item.Name</a></td>
                <th>@item.ItemId</th>
                <td>@item.CharacterName</td>
                <td>@item.Location</td>
                <td>@item.Count</td>
            </tr>
            }
        </tbody>
    </table>

}