@model np_website.Models.EventViewModel
@{
    /**/

    ViewBag.Title = "Index";
}

<h2>Events</h2>

@section scripts {

    <script src="~/Scripts/datepicker/js/bootstrap-datepicker.min.js"></script>
    <link href="~/Scripts/datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />

    <script type="text/javascript">
        $( document ).ready( function () {
            $( '.date-picker' ).datepicker( {
                daysOfWeekHighlighted: "0,1,4",
                todayHighlight: true
            } );
        } );
    </script>

}

@using (Html.BeginForm())
{
    <button type="submit" name="action" value="new" class="btn btn-primary cancel">New Event</button>
    <button type="submit" name="action" value="save" class="btn btn-primary">Save Changes</button>

    if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
    {
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Please enter all required fields</strong>
            @Html.ValidationSummary(false, "Errors: ")
        </div>
    }

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">Leader</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Events.Count; i++)
            {
                <tr>
                    <td>@Html.TextBoxFor(m => Model.Events[i].EventDateTime, "{0:MM/dd/yyyy}", new { @class = "date-picker form-control" })</td>
                    <td>@Html.TextBoxFor(m => Model.Events[i].Description, new { @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(m => Model.Events[i].Leader, new { @class = "form-control" })</td>
                    <td>
                        @Html.HiddenFor(m => Model.Events[i].EventId)
                        <button type="submit" name="delete" value="@i" class="btn btn-outline-danger cancel">Remove</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}